.title-style {
    text-align: center;
}
/*------------colours*/
.menu-color-home {
    background-color: greenyellow;
}
.menu-color-events {
    background-color: turquoise;
}
.menu-color-juniors {
    background-color: greenyellow;
}
.menu-color-gallery {
    background-color: turquoise;
}
.list-inline-item:not(:last-child) {
    margin: 0px;
}
.menucontainer {
    font-size: 0;
}
#nav li {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    text-align: center;
}
#nav li a {
    color: black;
}
#nav-foot li {
    font-size: 14px;
    padding: 0;
    text-align: center;
}
#hero-image {
    height: 900px;
    width: 100%;
    background: url("https://image.shutterstock.com/z/stock-photo-young-woman-playing-tennis-294960158.jpg"
) no-repeat center center;
}
#question-image {
    height: 300px;
    width: 40%;
    background: url("https://i.imgur.com/mTcwqyU.jpg") no-repeat center center;
}
#hero-junior {
    height: 920px;
    width: 100%;
    background: url("https://image.shutterstock.com/z/stock-photo-junior-boy-caucasian-playing-tennis-chasing-ball-with-fun-expression-1055130590.jpg") no-repeat center center;
}
#junior-serve {
    height: 900px;
    width: 100%;
    background: url("https://image.shutterstock.com/z/stock-photo-new-york-august-kids-play-mini-tennis-during-arthur-ashe-kids-day-at-billie-jean-1114826405.jpg") no-repeat center center;
}

.question1 {
    font-size: larger;
    font-weight: 700;
    color: #fffc36;
}
.t-ball {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background: url("https://image.shutterstock.com/image-photo/tennis-ball-isolated-on-white-600w-659857153.jpg"
) no-repeat center center;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 18px;
}
.tennis-ball {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background: url("https://image.shutterstock.com/image-photo/tennis-ball-isolated-on-white-600w-659857153.jpg"
) no-repeat center center;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 18px;
    margin-left: 80px;
}
#ethos-three li{
    font-size: 14px;
    padding: 0;
    text-align: center;
}
#main-space {
    height: 300px;
    width: 100%;
}
p {
    font-size: 20px;
}

.text-ball p {
    padding-top: 0px;
    padding-left: 20px;
}
#many-players {
    height: 600px;
    width: 100%;
    background: url("https://image.shutterstock.com/z/stock-photo-tennis-player-431981167.jpg") no-repeat center center;
}
#first-serve {
    height: 550px;
    width: 100%;
    background: url("https://image.shutterstock.com/image-photo/female-tennis-player-serving-ball-600w-1432697279.jpg") no-repeat center top;
}
.row-table {
    display: table;
}
.section-column {
    display: table-cell;
}
form{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}
.timeline-item {
    padding-top: 2em 2em 0em 2em;
    position: relative;
    color: yellow;
    border-left: 3px solid;
}
.timeline-item p {
    padding-top: 2em;
    padding-left: 1em;
    margin: 0;
    color: blue;
}
.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 2.4em;
    display: block;
    font-weight: 600;
    color: blue;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}
.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: yellow;
}
.typical-nos {
    font-size: 20px;
    color: blue;
}
.spacer {
    height: 10px;
    width: 100%;
}
/*-------Bar Chart------*/
.chart {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 5px;
}
* { box-sizing: border-box; }

.chart {
  height: 30vh;
  width: 40vw;
  
}
[class*="bar"] {
  grid-row-start: 1;
  grid-row-end: 101;
  border-radius: 5px 5px 0 0;
  background-color: #fffc36;
}
[class*="bar"] {
  grid-row-end: 101;
}

.bar-1 {
  grid-row-start: 50;
  text-align: center;
  position: relative;
}
.bar-1 span {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.bar-2 {
  grid-row-start: 25;
  text-align: center;
  position: relative;
}
.bar-2 span {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.bar-3 {
  grid-row-start: 12;
  text-align: center;
  position: relative;
}
.bar-3 span {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.bar-4 {
  grid-row-start: 25;
  text-align: center;
  position: relative;
}
.bar-4 span {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.bar-5 {
  grid-row-start: 0;
  text-align: center;
  position: relative;
}
.bar-5 span {
  position: absolute;
  bottom: 0;
  left: 10px;
}
/*---responsive design---*/

#space-ft {
    height: 50px;
}
#space2 {
    height: 50px;
}
#space3 {
    height: 50px;
} 
.weekday {
    text-underline-position: under;
    margin: 0;
}
