.title-style {
    text-align: center;
    font-weight: 700;
}
/*------------colours*/
.menu-color-home-page {
    background-color: orange;
}
.menu-color-events-page {
    background-color: orange;
}
.menu-color-juniors-page {
    background-color: orange;
}
.menu-color-gallery-page {
    background-color: orange;
}
.menu-color-home {
    background-color: white;
}
.menu-color-events {
    background-color: white;
}
.menu-color-juniors {
    background-color: white;
}
.menu-color-gallery {
    background-color: white;
}

.social-events {
    color: white;
    font-size: 20px;
}
.list-inline-item:not(:last-child) {
    margin: 0px;
}
.menucontainer {
    font-size: 0;
}
#nav li {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    text-align: center;
}
#nav li a {
    color: black;
}
#nav-foot li {
    font-size: 18px;
    padding: 0;
    text-align: center;
    padding-top: 30px;
}
#nav-foot-icon li a {
    color: black;
    font-size: 24px;
}
#nav-foot-icon li {
    font-size: 18px;
    padding: 0;
    text-align: center;
    padding-top: 20px;
}
#nav-foot li a {
    color: black;
    font-size: 24px;
}
#hero-image {
    height: 900px;
    width: 100%;
    background: url("https://images.freeimages.com/images/large-previews/457/tennis-5-1565880.jpg"
) no-repeat center center;
    background-size: cover;
}
#question-box {
    height: 350px;
    padding-top: 0px;
    float: right;
}

.question1 {
    font-size: 50px;
    font-weight: 700;
    color: black;
    background-color: rgba(206, 220, 22, 0.8);
    text-transform: uppercase;
    text-align: center;
}
#hero-junior {
    height: 600px;
    width: 100%;
    background: url("https://cdn.pixabay.com/photo/2017/02/25/00/18/tennis-2096676__340.jpg") no-repeat center center;
    background-size: cover;
}
#junior-signup {
    height: 600px;
    width: 100%;
    background: rgba(206, 220, 22, 0.8);
    border: 1px solid black;
    float: right;
    margin-right: 0px;
}
#junior-signup-small {
    height: 920px;
    width: 100%;
    background: rgba(206, 220, 22, 0.8);
    border: 1px solid black;
}
#child-signup {
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 5px;
}
#adult-signup {
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 5px;
}
#adult-signup p {
    margin-top: 15px;
    text-align: center;
    color: black;
}

.t-ball {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background: url("https://image.shutterstock.com/image-photo/tennis-ball-isolated-on-white-600w-659857153.jpg"
) no-repeat center center;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 18px;
}
.tennis-ball {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url("https://cdn.pixabay.com/photo/2014/04/02/17/04/tennis-ball-307846_960_720.png"
) no-repeat center center;
    background-size: cover;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 18px;
    margin-left: 80px;
    font-weight: 700;
}
#ethos-three li{
    font-size: 14px;
    padding: 0;
    text-align: center;
}
#main-space {
    height: 600px;
    width: 100%;
}
p {
    font-size: 20px;
    color: black;
}

.text-ball p {
    padding-top: 0px;
    padding-left: 20px;
    background-color: black;
    border-radius: 15px;
    margin: 10px 5px 20px 5px;
    color: white;
}
.text-ball-small p {
    padding-top: 0px;
    padding-left: 20px;
    background-color: white;
    border-radius: 15px;
    margin: 10px 5px 20px 5px;
}
#invite {
    background-color: rgba(206, 220, 22, 0.8);
    text-align: center;
}
#many-players {
    height: 600px;
    width: 100%;
    background: url("https://cdn.pixabay.com/photo/2020/11/27/18/59/tennis-5782695_1280.jpg") no-repeat center center;
    background-size: cover;
}
/*------------image-shade----*/
.index-shade {
    background-color: rgba(0, 0, 0, 0.1);
    height: 900px;
    width: 100;
}
.shade {
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
    width: 100;
}
.junior-shade {
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
    width: 100;
}
#event-signup {
    height: 600px;
    width: 100%;
    background: rgba(206, 220, 22, 0.8);
    padding-top: 15px;
    border: 1px solid black;
    border-radius: 5px;
    float: right;
}
#event-signup-small {
    height: 600px;
    width: 100%;
    background: rgba(206, 220, 22, 0.8);
    padding-top: 15px;
    border: 1px solid black;
    border-radius: 5px;
}
#event-signup p {
    color: black;
}
#event-signup-small p {
    color: black;
}
.row-table {
    display: table;
}
.section-column {
    display: table-cell;
}
form{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;

/*-------Timeline------*/
}
.timeline-item {
    padding-top: 2em 2em 0em 2em;
    position: relative;
    color: rgba(206, 220, 22, 0.8);
    border-left: 3px solid;
}
.timeline-item p {
    padding-top: 2em;
    padding-left: 1em;
    margin: 0;
    color: white;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 2.4em;
    display: block;
    font-weight: 600;
    color: white;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}
.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: rgba(206, 220, 22, 0.8);
}

.spacer {
    height: 10px;
    width: 100%;
}
/*-------Bar Chart------*/
.typical-nos {
    font-size: 20px;
    font-weight: 700;
    color: rgba(206, 220, 22, 0.8);
}
.chart {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 5px;
}
* { box-sizing: border-box; }

.chart {
  height: 25vh;
  width: 40vw;
  
}
[class*="bar"] {
  grid-row-start: 1;
  grid-row-end: 101;
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(206, 220, 22, 0.8);
}
[class*="bar"] {
  grid-row-end: 101;
}

.bar-1 {
  grid-row-start: 50;
  text-align: center;
  position: relative;
  font-weight: 800;
  font-size: 20px;
  border: 1px solid black;
}
.bar-1 span {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-weight: 800;
  font-size: 20px;
}
.bar-2 {
  grid-row-start: 25;
  text-align: center;
  position: relative;
  font-weight: 800;
  font-size: 20px;
  border: 1px solid black;
}
.bar-2 span {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-weight: 800;
  font-size: 20px;
}
.bar-3 {
  grid-row-start: 12;
  text-align: center;
  position: relative;
  font-weight: 800;
  font-size: 20px;
  border: 1px solid black;
}
.bar-3 span {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-weight: 800;
  font-size: 20px;
}
.bar-4 {
  grid-row-start: 25;
  text-align: center;
  position: relative;
  font-weight: 800;
  font-size: 20px;
  border: 1px solid black;
}
.bar-4 span {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-weight: 800;
  font-size: 20px;
}
.bar-5 {
  grid-row-start: 0;
  text-align: center;
  position: relative;
  font-weight: 800;
  font-size: 20px;
  border: 1px solid black;
}
.bar-5 span {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-weight: 800;
  font-size: 20px;
}
/*---gallery pictures---*/
#photo {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
  border: 1px solid black;
}
#photo img {
  width: 100%;
}
#space-ft {
    height: 45px;
}
#space2 {
    height: 50px;
}
#space3 {
    height: 50px;
} 
/*---responsive design---*/
/*---responsive index page---*/
@media only screen and (max-width: 550px) {
  .question1 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 550px) {
  #question {
    display:none;
  }
}
/*---responsive events page---*/
@media only screen and (max-width: 550px) {
  .chart {
    display:none;
  }
}
@media only screen and (max-width: 550px) {
  .typical-nos {
    display:none;
  }
}
@media only screen and (max-width: 550px) {
  #event-signup {
    display:none;
  }
}
@media only screen and (min-width: 550px) {
  #event-signup-small {
    display:none;
  }
}

@media only screen and (max-width: 700px) {
  .bar-1 span {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-weight: 800;
    font-size: 12px;
  }
}
@media only screen and (max-width: 700px) {
  .bar-2 span {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-weight: 800;
    font-size: 12px;
  }
}
@media only screen and (max-width: 700px) {
  .bar-3 span {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-weight: 800;
    font-size: 12px;
  }
}
@media only screen and (max-width: 700px) {
  .bar-4 span {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-weight: 800;
    font-size: 12px;
  }
}
@media only screen and (max-width: 700px) {
  .bar-5 span {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-weight: 800;
    font-size: 12px;
  }
}
/*---responsive junior page---*/
@media only screen and (max-width: 550px) {
  #junior-signup {
    display:none;
  }
}
@media only screen and (min-width: 550px) {
  #junior-signup-small {
    display:none;
  }
}
/*---responsive gallery pictures---*/
@media screen and (max-width: 550px) {
  #photo {
    column-count:2;
  }
}